/* view/base.php css  */
/* line 12, ../../../../camile/oclock/Memory/sass/style.scss */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8d3d3;
}

/* line 15, ../../../../camile/oclock/Memory/sass/style.scss */
body #baseWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 20, ../../../../camile/oclock/Memory/sass/style.scss */
body h1 {
  text-transform: uppercase;
}

/* view/shared/_header.php css  */
/* line 28, ../../../../camile/oclock/Memory/sass/style.scss */
header {
  background: url("../img/0.png") repeat;
  max-width: 100%;
  height: 150px;
  margin: 0 auto;
  padding: 10px;
}

/* line 36, ../../../../camile/oclock/Memory/sass/style.scss */
header h2 {
  text-transform: uppercase;
  text-align: center;
  color: #eef1e0;
  font-size: 30px;
  padding-top: 45px;
}

/* view/shared/_nav.php css  */
/* line 47, ../../../../camile/oclock/Memory/sass/style.scss */
.main_menu {
  background-color: gray;
  margin: 0;
  padding: 5px 0 5px 0;
  border: 0;
  border-radius: 0;
  text-align: center;
  line-height: 32px;
}

/* line 55, ../../../../camile/oclock/Memory/sass/style.scss */
.main_menu ul {
  margin-top: 15px;
}

/* line 58, ../../../../camile/oclock/Memory/sass/style.scss */
.main_menu li {
  display: inline;
  padding: 0 10px 0 10px;
  font-size: 16px;
}

/* line 63, ../../../../camile/oclock/Memory/sass/style.scss */
.main_menu a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 10px;
  font-variant: small-caps;
}

/* line 70, ../../../../camile/oclock/Memory/sass/style.scss */
.main_menu a:hover {
  color: red;
}

/* view/game/home.php css  */
/* line 78, ../../../../camile/oclock/Memory/sass/style.scss */
.frame {
  background-color: gray;
  margin: 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 500px;
}

/* line 85, ../../../../camile/oclock/Memory/sass/style.scss */
.frame #rules {
  text-decoration: underline;
  font-weight: bold;
}

/* view/game/game.php css  */
/* line 94, ../../../../camile/oclock/Memory/sass/style.scss */
#gameWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 100, ../../../../camile/oclock/Memory/sass/style.scss */
img {
  background-color: none;
  margin: 5px;
  padding: 0;
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
}

/* line 109, ../../../../camile/oclock/Memory/sass/style.scss */
#underCards {
  display: flex;
  margin: 15px;
}

/* line 114, ../../../../camile/oclock/Memory/sass/style.scss */
progress {
  width: 500px;
  margin-right: 30px;
}

/* line 119, ../../../../camile/oclock/Memory/sass/style.scss */
#timer {
  background-color: gray;
  margin: 0;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  color: #fff;
  width: 100px;
  text-align: center;
}

/* line 130, ../../../../camile/oclock/Memory/sass/style.scss */
.result {
  background-color: gray;
  margin: 0;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  color: #fff;
  width: 600px;
  text-align: center;
}

/* genral css  */
/* line 144, ../../../../camile/oclock/Memory/sass/style.scss */
.btn {
  background-color: none;
  margin: 0;
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 0.3rem;
  background-color: red;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* line 157, ../../../../camile/oclock/Memory/sass/style.scss */
.btn:hover {
  background-color: #c23838;
}

/* line 161, ../../../../camile/oclock/Memory/sass/style.scss */
.btn:focus {
  background-color: #c05d5d;
}

/* line 165, ../../../../camile/oclock/Memory/sass/style.scss */
table {
  background-color: gray;
  margin: 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

/* line 174, ../../../../camile/oclock/Memory/sass/style.scss */
th {
  padding-left: 30px;
  padding-right: 30px;
}

/*# sourceMappingURL=style.css.map */